*{
    font-family: 'Inter',sans-serif;
}

#logo{
    width: 50%;
    display:inline-block;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

#origami{
    width: 300px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    animation: bottom infinite ease-out 3s;
}

@keyframes bottom
{
    0%{transform: translateY(0);}
    50%{transform: translateY(-15px);}
    100%{transform: translateY(0);}
}

.hario_pic_con{
    display:flex;
    justify-content: center;
    align-items: center;
}

.hario_container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:2rem;
}

.hidden{
    opacity: 0.3;
    transition: all 1s 0.25s;
    filter:blur(3px);
}
.show{
    opacity: 1;
    filter:blur(0);
}

#nav_container{
    display: flex;
    justify-content: end;
    align-items: center;
}

#logo_box{
    width: 280px;
    padding:10px 0;
}

.row{
    overflow: hidden;
    flex-wrap: wrap;
}

/* History */
.heading{
    font-weight: 700;
    font-size:2.4rem;
    text-align: center;
}

.img_container{
    width: 100%;
    height: 100%;
}

.card{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card p{
    padding:1rem;
}

.taste_container{
    max-width:100px;
}

.icon{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:1rem 0;
    animation: slide_left 0.5s ease-in-out both;
}

@keyframes slide_left{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);
    }
}

.icon p{
    overflow-wrap: break-word;
}

.recipe_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
}
.bold_line{
    font-weight:600;
}

.video_container{
    padding:1rem 0;
}

.icon_con{
    width: 90px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.icon_con:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_container2{
    display:flex;
    justify-content: space-between;
}

.center_text{
    text-align: center;
    margin:0;
}

.brew_con{
    min-height:200px;
}

.brew_card{
    width:230px;
    height:200px;
    margin:1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.brew_card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_container3{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.social_con{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icons{
    padding:1rem;
}

.fa-github{
    color: rgb(49, 49, 49);
}

.fa-github:hover{
    color: black;
}

.fa-linkedin{
    color:rgb(49, 49, 49);
}

.fa-linkedin:hover{
    color: black;
}

#coffee_lab{
    font-weight: 600;
    font-size:2rem;
}

#nicole_koh{
    font-style: italic;
}

.footer{
    background-color: #EEEEEE;
    padding: 1rem;
}
